Options -Includes +FollowSymLinks -Indexes
AddHandler server-parsed .shtml
DirectoryIndex index.php
# AddDefaultCharset UTF-8
CookieTracking on
CookieExpires "1 years"

# default php version is 5.x.x
# uncomment next line to use  4.4.9
# AddType application/x-httpd-php44 php

RewriteEngine on
RewriteBase /
 
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule robots.txt robots.txt [NC,L]
RewriteRule .sitemap .sitemap [NC,L]
RewriteRule ^\.mini/([^/]+)$ .mini/$1 [NC,L]
RewriteRule ^\.images/([^/]+)$ .images/$1 [NC,L]
RewriteRule ^.*$ index.php [NC,L]
